@charset "utf-8";

.custom-nav{
    background-color: #d70f28;
}

.custom-nav a{
    color: #fff;
}

.nav-tabs .custom-tabs a{
    color: #000;
}

.tab-content .tab-pane{
}

.btn-get_start{
    background-color: #d70f28;
    color: #fff;
    float: none;
}


.custom-panel:after, .custom-panel:before{
  content: ""; 
  display: block; 
  clear: both; 
}

.custom-panel{
    margin: 50px 0px;
}

.domain-table{
    margin-top: 30px;
}
