@charset "utf-8";

.custom-nav{
    background-color: #d70f28;
}

.custom-nav a{
    color: #fff;
}

.nav-tabs .custom-tabs a{
    color: #000;
}

.tab-content .tab-pane{
    min-height: 600px;
}

.btn-get_start{
    background-color: #d70f28;
    color: #fff;
    float: none;
}

